<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/main.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home"><img src="../src/image/#2/home_icon.png"></div>
                <div id="showingTemp">adsa</div>
                <a class="menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="mainArea">
                <p id="deco">Hello</pid>
                <h1 id="serviceTitle">A-bine</h1>
                <p id="titleExplain">A-Bine is a wine celler with complex functions that gives
                    you more value than storage.
                    <br/>Beyond simple wine storage. we provides more comportable experience
                    <br/>such as recommendations, recipes, and controls through displays.</p>
            </div>
        </div>
    </body>
</html>