/* Main Page Styling */
.container {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


video{
    position: relative;
    z-index: -1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mainArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deco {
    font-family: Hills;
    font-size: 36px;
    color: white;
}

#serviceTitle {
    font-family: Aqala;
    font-weight: 100;
    font-size: 150px;
    color: white;
}

#titleExplain {
    font-family: YoonGothic330;
    font-size: 13.5px;
    text-align: center;
    color: white;
}