<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/liquor_cocktail_items.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="./offer.html">Offer</a>
                        </li>
                        <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div>
                    </ul>
                </nav>
            </div>
            <!-- This Page main contents : Liquor Area -->
            <div class="liquorArea">
                <div class="arrow left_arrow">
                    <img class="backArr" src="../src/image/page 5/left_arrow.png" alt="left_arrow">
                </div>
                <div class="upperMenu">
                    <ul>
                        <li>
                            <a href="./liquor_whiskey.html">Whiskey</a>
                        </li>
                        <li>
                            <a href="./liquor_wine.html">Wine</a>
                        </li>
                        <li>
                            <a href="./liquor_cocktail.html" style="color:white;">Cocktail</a>
                        </li>
                    </ul>
                </div>
                <div class="cocktailArea">
                    <div class="slideContents">
                        <div class="imgArea">
                            <img id="target" src="../src/image/page 14/magarita.png">
                        </div>
                        <div class="explainArea">
                            <p id="cocktail_title">MARGARITA</p>
                            <p id="cocktail_explain">
                                Margarita는 창작자의 연인 이름이라고 합니다. 1949년, 미국의 내셔널 칵테일 콘테스트의<br/>
                                입선작입니다. 작자는 쟝 듀레서, 처음에는 테킬라 45ml, 라임 주스 30ml, 레몬 주스 30ml,<br/>
                                화이트 큐라소 7ml를 바 블렌더로 혼합하고, 소금으로 스노 스타일로 만든 샴페인 잔에 따르는,<br/>
                                상당히 신맛이 강한 칵테일입니다.<br/>
                                코앙뜨로우를 블루 큐라소로 바꾼 블루 마르가리타(Blue Margarita)도 유명합니다.
                            </p>
                            <div class="recipeArea">
                                <p>Recipe</p>
                                <img src="../src/image/page 14/magarita_recipe.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/listCocktail.js"></script>
        <script>
            const back_btn = document.querySelector(".backArr");

            back_btn.addEventListener("click", ()=>{
                window.location.href="./liquor_cocktail.html";
            })
        </script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-database.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            setInterval(read_temperature, 50);
            setInterval(read_humidity, 50);
        </script>
    </body>
</html>