<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/liquor_whiskey.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="./offer.html">Offer</a>
                        </li>
                        <li class="listStyle">
                            <a href="./setting.html">Setting</a>
                        </li>
                        <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div>
                    </ul>
                </nav>
            </div>
            <!-- This Page main contents : Liquor Area -->
            <div class="liquorArea">
                <div class="upperMenu">
                    <ul>
                        <li>
                            <a href="./liquor_whiskey.html" style="color:white;">Whiskey</a>
                        </li>
                        <li>
                            <a href="./liquor_wine.html">Wine</a>
                        </li>
                        <li>
                            <a href="./liquor_cocktail.html">Cocktail</a>
                        </li>
                    </ul>
                </div>
                <div class="whiskeyArea">
                    <div class="arrow">
                        <img src="../src/image/page 5/left_arrow.png" style="opacity:0;" alt="left_arrow">
                    </div>
                    <div class="slideContents">
                        <div class="whiskeyExplain">
                            <h1 class="whiskey_main">MACALLAN</h1>
                            <h1 class="whiskey_sub">RARE CASK</h1>
                            <p>
                                16개의 각기 다른 캐스트(오크통)에 담긴 원액들의 조합에서<br/>
                                태어난 이 위스키는 캐스크의 다양함 덕분에 그 어떤<br/>
                                제품보다도 맛과 향 부문에서 '오묘함'이라는 단어가 가진 그<br/>
                                본질을 제대로 느낄 수 있는 제품입니다.<br/>
                                '레어 캐스크'를 생산하는데 사용한 오크통의 품질, 위스키<br/>
                                원액이 숙성되면서 오크통과의 상호작용으로 자연스럽게<br/>
                                탄생한 붉은 마호가니빛의 색상은 여타 위스키 브랜드와는<br/>
                                비교할 수 없는 맥캘란만의 특징입니다.
                            </p>
                            <p class="detail_whiskey">
                                Scent : Vanila, raisin, chocolate, oak<br>
                                Alchol: 43<br>
                                Origin : England<br>
                            </p>
                        </div>
                        <div class="whiskeyImg">
                            <img src="../src/image/page 6/MACALLAN.png" alt="MACALLAN">
                        </div>
                        <div class="optionalItem">
                            <div class="snackArea">
                                <h3>Snack</h3>
                                <div class="snackList">
                                    <img src="../src/image/page 6/MACALLAN_snack_01.png" alt="snackList"/>
                                    <img src="../src/image/page 6/MACALLAN_snack_02.png" alt="snackList"/>
                                    <img src="../src/image/page 6/MACALLAN_snack_03.png" alt="snackList"/>
                                </div>
                            </div>
                            <div class="similarArea">
                                <h3>Liquor</h3>
                                <div class="similarList">
                                    <img src="../src/image/page 6/MACALLAN_similar.png" alt="snackList"/>
                                    <p class="similar_explain">BALBEINE 21 YEAR OLD</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img 
                            src="../src/image/page 5/right_arrow.png" 
                            alt="right_arrow"
                            onclick="location.href='./liquor_whiskey_2.html'">
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/setting.js"></script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-database.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            setInterval(read_temperature, 50);
            setInterval(read_humidity, 50);
        </script>
    </body>
</html>