<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/liquor_wine_2.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="#">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="#">Offer</a>
                        </li>
                        <li class="listStyle">
                            <a href="./setting.html">Setting</a>
                        </li>
                        <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div>
                    </ul>
                </nav>
            </div>
            <!-- This Page main contents : Liquor Area -->
            <div class="liquorArea">
                <div class="upperMenu">
                    <ul>
                        <li>
                            <a href="./liquor_whiskey.html">Whiskey</a>
                        </li>
                        <li>
                            <a href="./liquor_wine.html" style="color:white;">Wine</a>
                        </li>
                        <li>
                            <a href="./liquor_cocktail.html">Cocktail</a>
                        </li>
                    </ul>
                </div>
                <div class="wineArea">
                    <div class="arrow left_arrow">
                        <img 
                            src="../src/image/page 5/left_arrow.png"
                            alt="left_arrow"
                            style="opacity:0">
                    </div>
                    <div class="slideContents">
                        <div class="wineImg">
                            <img src="../src/image/page 10/cas.png" alt="wine_background_img">
                        </div>
                        <div class="wineExplain">
                            <h1>CASILLERO DEL DIABLO<br/>CABERNET SAUVIGNON</h1>
                            <p>
                                짙은 루비 빛을 띄며 스파이시한 향과 체리와 같은 풍부한 과일향을 느낄 수 있습니다.<br/>
                                묵직한 맛과 향에서 느껴지는 강렬함이 특징이며, 높은 산도와 타닌으로 육류와 잘<br/>
                                어우러집니다.
                            </p>
                            <p>
                                Type: Red wine<br>
                                Alcohol: 13.5<br>
                                Origin/Country: Chile<br>
                            </p>
                            <div class="optionalItem">
                                <div class="snackArea">
                                    <h3>Snack</h3>
                                    <div class="snackList">

                                        <img src="../src/image/page 10/cas_snack_01.png" alt="snackList"/>
                                        <img src="../src/image/page 10/cas_snack_02.png" alt="snackList"/>
                                    </div>
                                </div>
                                <div class="similarArea">
                                    <h3>Liquor</h3>
                                    <div class="similarList">
                                        <img src="../src/image/page 5/G7_similar.png" alt="snackList"/>
                                        <p>CASILLERO DEL<br/>DIABLO DEVIS BRUT</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow right_arrow">
                        <img
                            src="../src/image/page 5/right_arrow.png"
                            alt="right_arrow"
                            onclick="location.href='./liquor_wine.html'">
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/setting.js"></script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-database.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            setInterval(read_temperature, 50);
            setInterval(read_humidity, 50);
        </script>
        <script>

        </script>
    </body>
</html>
</html>