<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <video muted autoplay loop>
                <source src="../src/video/background video.mp4" />
            </video>
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="./offer_cloudy.html">Offer</a>
                        </li>
                        <!-- <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div> -->
                    </ul>
                </nav>
            </div>
            <div class="mainArea">
                <p id="deco">Hello</pid>
                <h1 id="serviceTitle">A-bine</h1>
                <p id="titleExplain">A-Bine is a wine celler with complex functions that gives
                    you more value than storage.
                    <br/>Beyond simple wine storage. we provides more comportable experience
                    <br/>such as recommendations, recipes, and controls through displays.</p>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/selectOffer.js"></script>
        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-database.js";
            
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase(app);

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            let wine_01=1;
            let wine_02=1;
            let wine_03=1;
            let wine_04=1;
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    // console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    // console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            function sense_wine_category(){
                onValue(ref(db, "/wine_01"), (snapshot)=>{
                    wine_01 = snapshot.val();
                });
                onValue(ref(db, "/wine_02"), (snapshot)=>{
                    wine_02 = snapshot.val();
                });
                onValue(ref(db, "/wine_03"), (snapshot)=>{
                    wine_03 = snapshot.val();
                });
                onValue(ref(db, "/wine_04"), (snapshot)=>{
                    wine_04 = snapshot.val();
                });

                if(wine_01 == 0){
                    location.href="./liquor_wine.html";
                    wine_02 = 1;
                    wine_03 = 1;
                    wine_04 = 1;
                }
                else if(wine_02 == 0){
                    location.href="./liquor_wine_2.html";
                    wine_01 = 1;
                    wine_03 = 1;
                    wine_04 = 1;
                }
                else if(wine_03 == 0){
                    location.href="./liquor_wine_3.html";
                    wine_01 = 1;
                    wine_02 = 1;
                    wine_04 = 1;
                }
                else if(wine_04 == 0){
                    location.href="./liquor_wine_4.html";
                    wine_01 = 1;
                    wine_02 = 1;
                    wine_04 = 1;
                }
            }

            setInterval(sense_wine_category, 10);
            setInterval(read_temperature, 10);
            setInterval(read_humidity, 10);
        </script>
    </body>
</html>