<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/mood.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="./offer.html">Offer</a>
                        </li>
                        <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div>
                    </ul>
                </nav>
            </div>
                <div class="moodArea">
                    
                    <div class="moodImg">
                        <img class="circle_off" src="../src/image/page 21/1-00.png" alt="mood img">
                        <img class="circle_on clocking" src="../src/image/page 21/1-12.png" alt="mood img">
                        <img class="circle_red clocking" src="../src/image/page 21/1-01.png" alt="mood img">
                        <img class="circle_burgundi clocking" src="../src/image/page 21/1-02.png" alt="mood img">
                        <img class="circle_pink clocking" src="../src/image/page 21/1-03.png" alt="mood img">
                        <img class="circle_orange clocking" src="../src/image/page 21/1-04.png" alt="mood img">
                        <img class="circle_yellow clocking" src="../src/image/page 21/1-05.png" alt="mood img">
                        <img class="circle_green clocking" src="../src/image/page 21/1-06.png" alt="mood img">
                        <img class="circle_skyblue clocking" src="../src/image/page 21/1-07.png" alt="mood img">
                        <img class="circle_darkblue clocking" src="../src/image/page 21/1-08.png" alt="mood img">
                        <img class="circle_lightPurple clocking" src="../src/image/page 21/1-09.png" alt="mood img">
                        <img class="circle_purple clocking" src="../src/image/page 21/1-10.png" alt="mood img">
                        <img class="circle_realPurple clocking" src="../src/image/page 21/1-11.png" alt="mood img">
                    </div>
                    
                    <div class="colorPalette">
                        <p>Select your mood</p>
                        <div class="firstLine">
                            <img id="color_11" src="../src/image/page 21/first_01.png" alt="color select">
                            <img id="color_12" src="../src/image/page 21/first_02.png" alt="color select">
                            <img id="color_13" src="../src/image/page 21/first_03.png" alt="color select">
                            <img id="color_14" src="../src/image/page 21/first_04.png" alt="color select">
                            <img id="color_15" src="../src/image/page 21/first_05.png" alt="color select">
                            <img id="color_16"src="../src/image/page 21/first_06.png" alt="color select">
                        </div>
                        <div class="secondLine">
                            <img id="color_21" src="../src/image/page 21/second_01.png" alt="color select">
                            <img id="color_22" src="../src/image/page 21/second_02.png" alt="color select">
                            <img id="color_23" src="../src/image/page 21/second_03.png" alt="color select">
                            <img id="color_24" src="../src/image/page 21/second_04.png" alt="color select">
                            <img id="color_25" src="../src/image/page 21/second_05.png" alt="color select">
                            <img id="color_26" src="../src/image/page 21/second_06.png" alt="color select">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/setting.js"></script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-database.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            setInterval(read_temperature, 50);
            setInterval(read_humidity, 50);
        </script>
        <script>
            // Color component
            const red = document.querySelector("#color_11");
            const burgundi = document.querySelector("#color_12");
            const pink = document.querySelector("#color_13");
            const orange = document.querySelector("#color_14");
            const yellow = document.querySelector("#color_15");
            const green = document.querySelector("#color_16");
            const skyblue = document.querySelector("#color_21");
            const darkblue = document.querySelector("#color_22");
            const lightPurple = document.querySelector("#color_23");
            const purple = document.querySelector("#color_24");
            const realPurple = document.querySelector("#color_25");
            const white = document.querySelector("#color_26");

            // Color background component
            const CLOCKING = "clocking";
            const circle_on = document.querySelector(".circle_on");
            const circle_off = document.querySelector(".circle_off");
            const circle_red = document.querySelector(".circle_red");
            const circle_burgundi = document.querySelector(".circle_burgundi");
            const circle_pink = document.querySelector(".circle_pink");
            const circle_orange = document.querySelector(".circle_orange");
            const circle_yellow = document.querySelector(".circle_yellow");
            const circle_green = document.querySelector(".circle_green");
            const circle_skyblue = document.querySelector(".circle_skyblue");
            const circle_darkblue = document.querySelector(".circle_darkblue");
            const circle_lightPurple = document.querySelector(".circle_lightPurple");
            const circle_purple = document.querySelector(".circle_purple");
            const circle_realPurple = document.querySelector(".circle_realPurple");
            let var_list = 
                [circle_on, 
                    circle_off, 
                    circle_red, 
                    circle_burgundi, 
                    circle_pink, 
                    circle_orange, 
                    circle_yellow,
                    circle_green,
                    circle_skyblue,
                    circle_darkblue,
                    circle_lightPurple,
                    circle_purple,
                    circle_realPurple];

            function selectRED(){
                var_list.forEach(element => {
                    if(element !== circle_red){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectBURGUNDI(){
                var_list.forEach(element => {
                    if(element !== circle_burgundi){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectPINK(){
                var_list.forEach(element => {
                    if(element !== circle_pink){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectORANGE(){
                var_list.forEach(element => {
                    if(element !== circle_orange){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectYELLOW(){
                var_list.forEach(element => {
                    if(element !== circle_yellow){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectGREEN(){
                var_list.forEach(element => {
                    if(element !== circle_green){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectSKYBLUE(){
                var_list.forEach(element => {
                    if(element !== circle_skyblue){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectDARKBLUE(){
                var_list.forEach(element => {
                    if(element !== circle_darkblue){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectLIGHTPURPLE(){
                var_list.forEach(element => {
                    if(element !== circle_lightPurple){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectPURPLE(){
                var_list.forEach(element => {
                    if(element !== circle_purple){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectREALPURPLE(){
                var_list.forEach(element => {
                    if(element !== circle_realPurple){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function selectWHITE(){
                var_list.forEach(element => {
                    if(element !== circle_on){
                        element.classList.add(CLOCKING);
                    }
                    else{
                        element.classList.remove(CLOCKING);
                    }
                })
            }

            function moodTurnON(){
                var_list.forEach(element => {
                    if(element === circle_off){
                        element.classList.add(CLOCKING);
                    }
                    else if(element === circle_on){
                        element.classList.remove(CLOCKING);
                    }
                    else{
                        element.classList.add(CLOCKING);
                    }
                })
            }

            function moodTurnOFF(){
                var_list.forEach(element => {
                    if(element === circle_on){
                        element.classList.add(CLOCKING);
                    }
                    else if(element === circle_off){
                        element.classList.remove(CLOCKING);
                    }
                    else{
                        element.classList.add(CLOCKING);
                    }
                })
            }

            circle_off.addEventListener("click", moodTurnON);
            circle_on.addEventListener("click", moodTurnOFF);
            circle_red.addEventListener("click", moodTurnOFF);
            circle_burgundi.addEventListener("click", moodTurnOFF);
            circle_pink.addEventListener("click", moodTurnOFF);
            circle_orange.addEventListener("click", moodTurnOFF);
            circle_yellow.addEventListener("click", moodTurnOFF);
            circle_green.addEventListener("click", moodTurnOFF);
            circle_skyblue.addEventListener("click", moodTurnOFF);
            circle_darkblue.addEventListener("click", moodTurnOFF);
            circle_lightPurple.addEventListener("click", moodTurnOFF);
            circle_purple.addEventListener("click", moodTurnOFF);
            circle_realPurple.addEventListener("click", moodTurnOFF);
            red.addEventListener("click", selectRED);
            burgundi.addEventListener("click", selectBURGUNDI);
            pink.addEventListener("click", selectPINK);
            orange.addEventListener("click", selectORANGE);
            yellow.addEventListener("click", selectYELLOW);
            green.addEventListener("click", selectGREEN);
            skyblue.addEventListener("click", selectSKYBLUE);
            darkblue.addEventListener("click", selectDARKBLUE);
            lightPurple.addEventListener("click", selectLIGHTPURPLE);
            purple.addEventListener("click", selectPURPLE);
            realPurple.addEventListener("click", selectREALPURPLE);
            white.addEventListener("click", selectWHITE);
            
        </script>
    </body>
</html>
</html>