<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/offer_rainy.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="./offer.html">Offer</a>
                        </li>
                        <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div>
                    </ul>
                </nav>
            </div>
            <!-- This Page main contents : Offer Area -->
            <div class="offerArea">
                <div class="recommand">
                    <div class="explain">
                        <h1 id="explain_category">TODAY'S DRINK</h1>
                        <h1 id="explain_wine">G7 RESERVA<br/>CABERNET SAUIGNON</h1>
                        <p id="explain_contents">
                            밝은 루비색을 띠고 있으며 블랙베리, 블랙커런트 등의 진한 과일 아로마와 함께 10개월<br/>
                            프랑스산 오크 배럴 속성에서 배어나는 달콤한 바닐라 향과 정향 등의 다채로운 향이<br/>
                            느껴집니다. 입안에서 부드러운 과일맛과 진한 탄닌이 균형감 있는 맛을 선사하며, 약간의<br/>
                            후추함, 오크향과 함께 여운을 남깁니다.
                        </p>

                        <p id="explain_details">
                            Type : Red wine<br/>
                            Alcohol : 12.5<br/>
                            Origin/Country : Chile
                        </p>
                    </div>
                    <div class="recommand_target">
                        <img class="weather_rainy" src="../src/image/page 22/rainy_wine.png" alt="cloudy_wine">
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/setting.js"></script>
        <script src="../js/firebase_importData.js"></script>
    </body>
</html>
</html>