<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/headNav.css">
        <link rel="stylesheet" href="../css/offer_cloudy.css">
        <title>A-Bine</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div id="home">
                    <a href="./main.html">
                        <img src="./../src/image/page 2/test.png" alt="home"/>
                    </a>
                </div>
                <div id="showing">
                    <div class="valueWrapper">
                        <div class="temp">
                            <p id="temperature"></p>
                        </div>
                        <p id="humidity"></p>
                    </div>
                </div>
                <a href="#" class="menu-trigger" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuWrap" class="clicked">
                <nav id="menu">
                    <ul class="menulist">
                        <li class="listStyle">
                            <a href="./liquor_wine.html">Liquor</a>
                        </li>
                        <li class="listStyle">
                            <a href="./mood.html">Mood</a>
                        </li>
                        <li class="listStyle">
                            <a href="../view/offer_cloudy.html">Offer</a>
                        </li>
                        <!-- <div class="lightSwtich">
                            <img src="../src/image/page 3/light_icon.png" alt="wineCeller_innerLight">
                            <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
                            <label for="switch1" class="label__on-off">
                                <span class="marble"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                            </label>
                        </div> -->
                    </ul>
                </nav>
            </div>
            <!-- This Page main contents : Offer Area -->
            <div class="offerArea">
                <div class="recommand">
                    <div class="explain">
                        <h1 id="explain_category">TODAY'S DRINK</h1>
                        <h1 id="explain_wine">TAYLOR'S SELECT<br/>RESERVE PORT</h1>
                        <p id="explain_contents">
                            짙은 루비색으로, 짙은 과일 향이 느껴지는 와인입니다. 입안을 가득 채우는 진한 과일의<br/>
                            맛을 가진 풀바디의 와인으로 긴 여운과 달콤함이 입안 가득 채워지게 만들어줍니다.
                        </p>

                        <p id="explain_details">
                            Type : Port wine<br/>
                            Alcohol : 20<br/>
                            Origin/Country : Portugal
                        </p>
                    </div>
                    <div class="recommand_target">
                        <img class="weather_cloudy" src="../src/image/page 22/cloudy_wine.png" alt="cloudy_wine">

                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/setting.js"></script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
            import { getDatabase, ref, set, child, update, remove, onValue, get } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-database.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyB3pUnkTb9q-XLceiLcXmKdpiqiNOpa0mg",
                authDomain: "abine-b526f.firebaseapp.com",
                databaseURL: "https://abine-b526f-default-rtdb.firebaseio.com",
                projectId: "abine-b526f",
                storageBucket: "abine-b526f.appspot.com",
                messagingSenderId: "866638993783",
                appId: "1:866638993783:web:7fe7fe6e6b0c5e622b2972"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();

            var temperature = document.getElementById("temperature");
            var humidity = document.getElementById("humidity");
            // let wine_01=1;
            // let wine_02=1;
            // let wine_03=1;
            // let wine_04=1;
            
            function read_humidity(){
                onValue(ref(db, "/humidity"), (snapshot)=>{
                    const data = snapshot.val();
                    // console.log("Humidity Value : "+ data);
                    humidity.innerText = data+"％";
                });
            }

            function read_temperature(){
                onValue(ref(db, "/temperature"), (snapshot)=>{
                    const data = snapshot.val();
                    // console.log("temperature Value : "+ data);
                    temperature.innerText = data+"℃";
                });
            }

            // function sense_wine_category(){
            //     onValue(ref(db, "/wine_01"), (snapshot)=>{
            //         wine_01 = snapshot.val();
            //     });
            //     onValue(ref(db, "/wine_02"), (snapshot)=>{
            //         wine_02 = snapshot.val();
            //     });
            //     onValue(ref(db, "/wine_03"), (snapshot)=>{
            //         wine_03 = snapshot.val();
            //     });
            //     onValue(ref(db, "/wine_04"), (snapshot)=>{
            //         wine_04 = snapshot.val();
            //     });

            //     if(wine_01 == 0){
            //         location.href="./liquor_wine.html";
            //         wine_02 = 1;
            //         wine_03 = 1;
            //         wine_04 = 1;
            //     }
            //     else if(wine_02 == 0){
            //         location.href="./liquor_wine_2.html";
            //         wine_01 = 1;
            //         wine_03 = 1;
            //         wine_04 = 1;
            //     }
            //     else if(wine_03 == 0){
            //         location.href="./liquor_wine_3.html";
            //         wine_01 = 1;
            //         wine_02 = 1;
            //         wine_04 = 1;
            //     }
            //     else if(wine_04 == 0){
            //         location.href="./liquor_wine_4.html";
            //         wine_01 = 1;
            //         wine_02 = 1;
            //         wine_04 = 1;
            //     }
            // }

            setInterval(read_temperature, 10);
            setInterval(read_humidity, 10);
        </script>
    </body>
</html>
</html>