@font-face {
  font-family: Hills;
  src: url("./Assets/font/HillsofMarbellaalt.-Regular.otf");
}

@font-face {
  font-family: Aqala;
  src: url("./Assets/font/Aqala\ Display\ Free.ttf");
}

@font-face {
  font-family: YoonGothic330;
  src: url("./Assets/font/윤고딕330.ttf");
}

@font-face {
  font-family: YoonGothic320;
  src: url("./Assets/font/윤고딕320.ttf");
}

@font-face{
  font-family: GimhaeB;
  src: url("./Assets/font/GimhaeGayaB.otf");
}

@font-face{
  font-family: GimhaeR;
  src: url("./Assets/font/GimhaeGayaR.otf");
}

/*-------------- Basic Setting --------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}